[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

lxml = "*"
aiohttp = "*"
"bs4" = "*"


[dev-packages]

pytest = "*"
sphinx = "*"
sphinxcontrib-asyncio = "*"
sphinx-rtd-theme = "*"
pytest-asyncio = "*"


[requires]

python_version = "3.6"
